@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root {
    /*Colors*/
    --marrom: #D08C60;
    --marrom-dark: #8f6b52;
    --amarelo: #FFCB69;
    --amarelo-dark: #be9d5e;
    --ciano: #35BBB6;
    --ciano-dark: #359292;
    --cinza: #858585;
    --cinza-dark: #5a5a5a;
    --branco: #EAEAEA;
    /*Fontes - family*/
    --mont: 'Montserrat', sans-serif;
    /*Fontes - size*/
    --fonte-gigante: 3rem;
    --fonte-grande: 2rem;
    --fonte-grande-hover: 2.3rem;
    --fonte-medio: 1rem;
    --fonte-medio-hover: 1.3rem;
    --fonte-texto: 0.75rem;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../image/background/backgroun.svg');
    background-color: var(--cinza);
    overflow: hidden;
}

/* Tags do Bootstrap*/

.navbar {
    width: 80%;
    text-align: center;
    background-color: var(--branco);
    border-radius: 0px 0px 20px 20px;
    filter: drop-shadow(2px 2px 4px rgba(0, 0, 0, 0.5));
}

.nav-link {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
    font-size: var(--fonte-medio);
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.2em;
}

.nav-link:hover {
    font-size: var(--fonte-medio-hover);
    transition: 0.5s;
}

.text-secondary {
    color: var(--cinza);
}

/* Own Tags*/

.brand {
    width: 4vw;
}

.menu {
    width: 60px;
}

@media screen and (max-width: 800px) {
    .brand {
        width: 10vw;
    }
}
