@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
:root {
    /*Colors*/
    --marrom: #D08C60;
    --marrom-dark: #8f6b52;
    --amarelo: #FFCB69;
    --amarelo-dark: #be9d5e;
    --ciano: #35BBB6;
    --ciano-dark: #359292;
    --cinza: #858585;
    --cinza-dark: #5a5a5a;
    --branco: #EAEAEA;
    /*Fontes - family*/
    --heebo: 'Heebo', sans-serif;
    --mont: 'Montserrat', sans-serif;
    /*Fontes - size*/
    --fonte-gigante: 3rem;
    --fonte-grande: 2rem;
    --fonte-grande-hover: 2.3rem;
    --fonte-medio: 1rem;
    --fonte-medio-hover: 1.3rem;
    --fonte-texto: 0.75rem;
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../../image/background/backgroun.svg');
    background-color: var(--cinza);
    overflow: hidden;
}
