@import url('../animation/loading.css');

:root {
    font-size: 62,5%;
}

#body {
    overflow: hidden;
    background-color: #333333;
}

#loading {
    margin: 0px 0.5rem;
}

.loading-image {
    width: 110rem;
    
}

#page {
    display: none;
    width: 80%;
}