@import url('../animation/loading.css');

:root {
    font-size: 62,5%;
}

#body {
    margin: 0px;
    overflow: hidden;
    background-color: #313131;
}

#loading {
    margin: 0px;
    width: 50%;
    height: 108rem;
    background-color: #FE5C40;
}

.loading-image {
    margin: 1rem 8.45rem;
    width: 100rem;
}

#page {
    display: none;
    width: 80%;
}