:root {
    font-size: 62,5%;
}

#home-header {
    width: 100%;
    top: 0px;
    left: 0rem;
    position: fixed;
    height: 10rem;
    padding: 1rem 0rem 1rem 10rem;
    background-color: #33333f;
}

#logo {
    width: 10rem;
    height: 10rem;
    background-color: aliceblue;
}

#contato-header {
    width: 30rem;
    height: 10rem;
    background-color: aqua;
}

#navbar {
    width: 100%;
    top: 12rem;
    left: 0rem;
    position: fixed;
    height: 4rem;
    padding: 1rem 0rem 1rem 10rem;
    background-color: #c4c4c4;
}

#navbar-list {
    list-style-type: none;
    display: inline-flex;
    padding: 1rem;
}

.navbar-itens {
    background-color: #33333f;
    border-radius: 1rem;
    padding: 1rem;
    color: whitesmoke;
}